<!-- THIS FILE IS A LAYOUT FILE THE CONTENT OF OTHER FILES AFTER RENDERING WILL GET INSIDE < % -body tag % > -->

<%- include("../includes/meta.ejs") %>
    <%- include("../includes/nav.ejs") %>
    <div class="container">
        <%- body %>
    </div>
    <%- include("../includes/footer.ejs") %>
</body>
</html>