<main>
    <h1>Forgot password?</h1>
    <p>Don't worry. Type your email and if your account exists we will send you reset link</p>
    <form action="">
        <div class="input-container">
            <input type="email" id="email">
        </div>
        <div id="submit-control" class="left">
            <input type="submit" value="Send">
        </div>
    </form>
</main>
